<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Atividades/Atividade02/Css/styles.css">
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <h1>Meu Site</h1>
        <nav>
            <a href="#">Início</a>
            <a href="/Atividades/Atividade02/Views/cadastro.html">Cadastro</a>
            <!--Links -->
        </nav>
    </header>

    <div class="container">
        <div class="container-content">
            <h1>Bem-vindo à página inicial</h1>
            <p>Aqui você pode acessar nosso formulário de cadastro com diversas opções para você preencher!</p>
            <a href="/Atividades/Atividade02/Views/cadastro.html" class="btn">Acessar formulário de cadastro</a>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Site IHC Atividade 02. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
